*:not(i) {
  color: #061336; /* near-black navy */
}

.tab-content {
  padding-top: 30px;
}

.site-title {
  /* color: #0d2468; */
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  max-width: 825px;
  margin: auto;
}
.logos .find {
  max-width: 90px;
}
.logos .cdc {
  max-width: 190px;
  /* padding-right: 3vw; */
}
.logos .bd {
  max-width: 123px;
  max-height: 90%;
  padding-left: 1.5vw;
  padding-right: 1.7vw;

}

.logos .logo {
  margin-top: auto;
  margin-bottom: auto;
}

em.note, .landing-page ul {
  /* font-size: smaller; */
}

div.form-group {
  margin-bottom: 7px;
}

div.card-body {
  padding-left: 35px;
  padding-right: 35px;
}


.instructions {
  padding: 0 35px 15px;
}
.instructions .instruction {
  padding-bottom: 10px;
  display: block;
}

.child-questions {
  padding-left: 20px;
  padding-bottom: 7px;
}
.sub-questions {
  display: none;
}
.parent-questions.show-sub-questions .sub-questions {
  display: block;
}

.form-label {
  padding-top: 7px;
}
.question-text {
  /* must be inline to take specimen span on same line */
  /* display: inline; */
  font-size: 16px;
  font-weight: 500;
}
.response-text {
  /* must be inline to take specimen span on same line */
  /* display: inline; */
  font-weight: 300;
  font-size: 14px;
  /* padding-bottom: 7px; */
  padding-left: 2px;
}

.form-check {
  padding-bottom: 3px;
}
span.standard-tag {
  display: inline;
  font-weight: lighter;
  font-style: italic;
}
span.specimen-tags {
  /* position: absolute;
  left: -20px; */
  /* top: 2px; */
}
span.specimen-tags i {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 2px;
}
span.specimen-tags i.b {
  background: #9D0806;
}
span.specimen-tags i.u {
  background: #FBD84B;
}
span.specimen-tags i.f {
  background: #8C6F56;
}

button.submit {
  margin: 30px;
}

#multiselectContainerReact {
  max-width: 500px;
}

input.target {
  padding-right: 3px;
  max-width: 60px;
  height: 26px;
  display: inline-block;
  margin-right: 6px;
}
input.target ~ label {
  display: inline;
  line-height: 36px;
}

.response-value.ahead, .legend .example.ahead, .fulfilled.Yes {
  background-color: #a8d08d;
}
.response-value.near, .legend .example.near, .fulfilled.Partial {
  background-color: #ffe598;
}
.response-value.behind, .legend .example.behind, .fulfilled.No {
  background-color: #f4b083;
}
.response-value.missing {
  font-variant: all-small-caps;
}
.response-value.total {
  font-weight: bolder;
}

.legend .example {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.legend {
  max-width: 272px;
  padding: 40px;
  /* margin: 20px; */
  border: 1px solid;
}
.legend h4 {
  text-decoration: underline;
  font-weight: 300;
}
.legend h5, .results-table .target-ex {
  font-weight: bold;
}
.legend label {
  font-size: 14px;
}
.legend .threshhold {
  font-weight: bold;
  color: #007bff;
}
.legend em {
  font-size: 12px;
  text-align: center;
  display: block;
  margin-top: -10px;
}

/* UNIVERSAL TABLE STYLES */

.table thead th {
  border-bottom-color: #7b7b7b !important;
}

.results-table .target-th, .target-td {
  border-right-color: #7b7b7b !important;
}
td.response-text-cell > div {
  min-width: 150px;
}
td.links .link:not(:last-of-type) {
  padding-bottom: 7px;

}
td.recommendations > div, .results-table td.links > div {
  min-width: 200px;
}
td.recommendations .point:not(:last-of-type) {
  padding-bottom: 7px;
}
td.recommendations .point-number {
  font-weight: 800;
  color: #4747e0;
  font-size: large;
}
td.scrollable > div {
  overflow: auto;
  max-height: 250px;
}

table.table th:not(:first-of-type) {
  text-align: center;
}
table.table td {
  vertical-align: middle;
}
.results-table table.table td {
  border-bottom-color: #7b7b7b;
}
table.table td:not(:first-of-type) {
  text-align: center;
}
table.table tr input[type='number'] {
  width: 80px;
  margin: auto;
}

tr.numerator > td:first-of-type {
  padding-left: 30px;
}
tr.denominator > td:first-of-type .response-text {
  font-weight: 500;
}