div.form-group {
  margin-bottom: 7px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

div.card-body {
  padding-left: 35px;
  padding-right: 35px;
}

h2 {
  padding: 30px;
  text-align: center;
}
h3 {
  padding-top: 30px;
  padding-bottom: 20px;
}
.instructions {
  padding: 0 35px 15px;
}
.instructions .instruction {
  padding-bottom: 10px;
  display: block;
}

.child-questions {
  padding-left: 20px;
  padding-bottom: 7px;
}
.sub-questions {
  display: none;
}
.parent-questions.show-sub-questions .sub-questions {
  display: block;
}

/* .question {
  padding-top: 20px;
  padding-left: 20px;
} */
.form-label {
  padding-top: 7px;
}
.question-text {
  /* must be inline to take specimen span on same line */
  /* display: inline; */
  font-size: 16px;
  font-weight: 500;
}
.response-text {
  /* must be inline to take specimen span on same line */
  /* display: inline; */
  font-weight: 300;
  font-size: 14px;
  /* padding-bottom: 7px; */
  padding-left: 7px;
}

.form-check {
  padding-bottom: 3px;
}
span.standard-tag {
  display: inline;
  font-weight: lighter;
  font-style: italic;
}
span.specimen-tags {
  /* position: absolute;
  left: -20px; */
  /* top: 2px; */
}
span.specimen-tags i {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 2px;
}
span.specimen-tags i.b {
  background: #9D0806;
}
span.specimen-tags i.u {
  background: #FBD84B;
}
span.specimen-tags i.f {
  background: #8C6F56;
}

button.submit {
  margin: 30px;
}

.results, .results-table {
  /* display: none; */
  padding: 30px;
}

.results .prio-section {
  border: solid 2px;
  margin-bottom: 20px;
  padding: 30px;
}
.results .prio-1 {
  border-color: red;
}
.results .prio-2 {
  border-color: orange;
}
.results .prio-3 {
  border-color: gold;
}
.results h3 {
  padding: 30px 0;
}
.results h5 {
  padding-top: 20px;
}
.results .priority {
  text-align: center;
}
.results .negate-tag {
  color: red;
  transform: rotate(45deg) scale(1.5);
  display: inline-block;
}
.results .resources {
  padding-bottom: 30px;
}
.results .text {
  color: #19195b;
}

#multiselectContainerReact {
  max-width: 500px;
}


input.target {
  padding-right: 3px;
  max-width: 60px;
  height: 26px;
  display: inline-block;
  margin-right: 6px;
}
input.target ~ label {
  display: inline;
  line-height: 36px;
}

.response-value.ahead {
  background-color: #a8d08d;
}
.response-value.near {
  background-color: #ffe598;
}
.response-value.behind {
  background-color: #f4b083;
}
.response-value.total {
  font-weight: bolder;
}

/* UNIVERSAL TABLE STYLES */
table.table th {
  text-align: center;
}
table.table td {
  vertical-align: middle;
}
table.table td:not(:first-of-type) {
  text-align: center;
}
table.table tr input[type='number'] {
  min-width: 70px;
  max-width: 80px;
  margin: auto;
}